<div class="container">
<header class="row" style="height: 100px;background-color: green;padding-top: 20px;font:verdana;margin-top: 10px;"><h1 style="text-align: center;">My First Angular Application</h1></header>
<div class="row"><nav class="col-sm-3 col-xs-3" style="height: 450px;background-color: yellow">
	<div><a routerLink="addemployee">Add Employee</a></div>
	<div><a routerLink="showemployee">Show Employees</a></div>
</nav>
<aside class="col-sm-9 col-xs-9" style="height: 450px;background-color: ">
	<router-outlet></router-outlet>

</aside>
</div>
<footer class="row" style="text-align: center;background-color: green; height: 70px;">Copy@right Sudheer.Ponnala</footer>
</div>